/node_modules
.env
**/node_modules/
**/.env
**/dist/
**/build/
**/coverage/
**/logs/
**/tmp/
**/cache/
**/out/
**/public/
**/vendor/
**/.DS_Store
**/.idea/
**/.vscode/
**/.env.local
**/.env.development
**/.env.test
**/.env.production
rabbitmq_delayed_message_exchange-3.13.0.ez